<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h5 class="ml-5 mb-4">会員詳細画面</h5>
      <table>
      <tr>
        <td><h6>会員ID</h6></td>
        <td><%= @client.id %></td>
      </tr>
      <tr>
        <td><h6>氏名</h6></td>
        <td><%= @client.last_name+@client.first_name %></td>
      </tr>
      <tr>
        <td><h6>フリガナ</h6></td>
        <td><%= @client.last_name_kana+@client.first_name_kana %></td>
      </tr>
      <tr>
        <td><h6>郵便番号</h6></td>
        <td><%= @client.postal_code %></td>
      </tr>
      <tr>
        <td><h6>住所</h6></td>
        <td><%= @client.address %></td>
      </tr>
      <tr>
        <td><h6>電話番号</h6></td>
        <td><%= @client.tel %></td>
      </tr>
      <tr>
        <td><h6>メールアドレス</h6></td>
        <td><%= @client.email %></td>
      </tr>  <tr>
        <td><h6>会員ステータス</h6></td>
        <td><% if @client.is_unsubscribe_flag == "Available" %>
                有効会員
            <% elsif @client.is_unsubscribe_flag == "Invalid" %>
                退会会員
            <% end %>
        </td>
      </tr>
      <tr>
        <td><%= link_to '会員情報の編集', edit_admin_client_path(@client.id), class:"btn btn-sm btn-outline-secondary" %></td>
        <td><%= link_to'この会員の注文一覧を見る',admin_detail_path(@client.id), class:"btn btn-sm btn-outline-secondary" %></td>
      </tr>
      </table>
    </div>
  </div>
</div>
