<h4>会員詳細画面</h4>
  <table>
  <tr>
    <th><h6>会員ID</h6></th>
    <th><%= @client.id %></th>
  </tr>
  <tr>
    <th><h6>氏名</h6></th>
    <th><%= @client.last_name+@client.first_name %></th>
  </tr>
  <tr>
    <th><h6>フリガナ</h6></th>
    <th><%= @client.last_name_kana+@client.first_name_kana %></th>
  </tr>
  <tr>
    <th><h6>郵便番号</h6></th>
    <th><%= @client.postal_code %></th>
  </tr>
  <tr>
    <th><h6>住所</h6></th>
    <th><%= @client.address %></th>
  </tr>
  <tr>
    <th><h6>電話番号</h6></th>
    <th><%= @client.tel %></th>
  </tr>
  <tr>
    <th><h6>メールアドレス</h6></th>
    <th><%= @client.email %></th>
  </tr>  <tr>
    <th><h6>会員ステータス</h6></th>
    <th><% if @client.is_unsubscribe_flag == "Available" %>
            有効会員
        <% elsif @client.is_unsubscribe_flag == "Invalid" %>
            退会会員
        <% end %>
    </th>
  </tr>
  <tr>
    <th><%= link_to '会員情報の編集', edit_admin_client_path(@client.id), class:"btn btn-sm btn-outline-secondary" %></th>
    <th><%= link_to'この会員の注文一覧を見る',admin_detail_path(@client.id), class:"btn btn-sm btn-outline-secondary" %></th>
  </tr>
</table>
