<h2>商品一覧（全<%= @products.count %>件）</h2>
<% @products.each do |product| %>
  <%= attachment_image_tag product, :image, format: 'jpeg', size: "60x100" %>
  <h6><%= link_to product.name, product_path(product) %></h6>
  <h6>¥<%= product.price %></h6>
<% end %>
<%= paginate @products %>