<div class="container">
<h4 class="ml-5 mt-4 mb-4"><strong>商品一覧</strong>（全<%= @products.count %>件）</h4>
<div class="row">
    <% @products.each do |product| %>
      <div class="col-3">
        <table class="table-sm">
          <thead>
            <tr><td><%= attachment_image_tag product, :image, format: 'jpeg', size: "120x100" %></td></tr>
          </thead>
          <tbody>
            <tr><td><strong><%= link_to product.name, product_path(product) %></strong></tr></td>
            <tr><td><strong>¥<%= product.price.to_s(:delimited) %></strong></tr></td>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
<%= paginate @products %>