<h2>商品詳細画面</h2>
<%= attachment_image_tag @product, :image, format: 'jpeg', size: "120x100" %>
<h6><%= @product.name %></h6>
<h6><%= @product.introduction %></h6>
<h6>¥<%= @product.price %>（税込）</h6>

<%= form_with model: @cart_item, local:true do |f| %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.number_field :count, min: 1, include_blank: "個数選択" %>
  <%= f.submit'カートに入れる' %>
<% end %>