<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 offset-md-1">
      <%= attachment_image_tag @product, :image, format: 'jpeg', size: "240x200" %>
    </div>
    <div class="col-md-6">
      <h5 class="mt-1"><strong><%= @product.name %></strong></h5>
      <h6 class="ml-1 mt-3 mr-1 mb-5"><%= @product.introduction %></h6>
      <h6 class="mt-5 mb-5">¥<%= (@product.price.rationalize*1.1r).to_i.to_s(:delimited) %>（税込）</h6>

      <%= form_with model: @cart_item, local:true do |f| %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.number_field :count, min: 1, placeholder:"個数選択" %>
        <%= f.submit 'カートに入れる', class:"btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>
</div>