<div class="container d-flex justify-content-center mt-5">
  <div class="row">
    <div class="col-12 text-nowrap">
      <div class="border border-warning " style="padding:10px;">
        <p class="text-center"><strong>ようこそ、ながのCAKEへ！</strong><br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない⽅も商品の閲覧はできますが、<br>
        購⼊には会員登録が必要になります。</p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
<h2 class="text-left mt-5">新着商品</h2>
  <div class="row">
    <% @products.first(4).each do |product| %>
     <% if product.is_sales_status && product.genre.is_active %>
        <div class="col-3">
          <table>
            <thead>
              <tr>
              <td>
                <%= link_to product_path(product) do %>
                  <%= attachment_image_tag product, :image, format: 'jpeg', size: "120x100" %>
                <% end %>
              </td>
            </tr>
            </thead>
            <tbody>
              <tr><td><%= product.name %></td></tr>
              <tr><td>¥<%= product.price %></td></tr>
            </tbody>
          </table>
        </div>
      <% end %
    <% end %>
  </div>
  <div class="text-right"><%= link_to "全ての商品を⾒る >", products_path %></div>
</div>