<h4>注文一覧画面</h4>

<table class="table table-striped">
  <thead>
    <tr>
    <th>購入</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
    </tr>
  </thead>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td>
      <%= link_to admin_product_path(product.id) do %>
       <%= product.name %>
      <% end %>
    </td>
    <td><%= product.price %></td>
    <td><%= product.genre.name %></td>
    <td>
      <%= product.is_sales_status %>
      </td>
  </tr>
  <% end %>
</table>