<h2>ログイン</h2><br />

<h3>会員の方はこちらからログイン</h3>

<%= form_with model: @client, url: client_session_path, local: true do |f| %>
  <div class="field">
    メールアドレス
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    パスワード
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div><br />

  <div class="actions">
    <%= f.submit "ログイン", class:"btn btn-primary" %><br />
  </div>
<% end %>

<h3>会員登録がお済みでない方</h3>

<%= link_to 'こちら', new_client_registration_path %>　から新規登録を行ってください。
