<h4>商品編集画面</h4>
<table>
<%= form_with model: @product, url: admin_product_path, local:true do |f| %>
  <tr>
    <th><h6>商品画像</h6></th>
    <th><%= f.attachment_field :image %></th>
  </tr>
  <tr>
    <th><h6>商品名</h6></th>
    <th><%= f.text_field :name %></th>
  </tr>
  <tr>
    <th><h6>商品説明</h6></th>
    <th><%= f.text_area :introduction %></th>
  </tr>
  <tr>
    <th><h6>ジャンル</h6></th>
    <th><%= f.collection_select(:genre_id, @genres, :id, :name,{prompt: "製品ジャンルを選択してください"}) %></th>
  </tr>
  <tr>
    <th><h6>税抜価格</h6></th>
    <th><%= f.number_field :price %><span>円</span></th>
  </tr>
  <tr>
    <th><h6>販売ステータス</h6></th>
    <th><%= f.radio_button :is_sales_status,"true" %><p>販売中</p></th>
    <th><%= f.radio_button :is_sales_status, "false" %><p>販売停止中</p></th>
  </tr>
  <tr>
    <th><%= f.submit '変更を保存',class:"btn btn-sm btn-success" %></th>
  </tr>
<% end %>
</table>
