<h2>商品一覧画面</h2>

<table>
  <tr>
    <td>商品ID</td>
    <td>商品名</td>
    <td></td>
    <td>税抜価格</td>
    <td>ジャンル</td>
    <td>ステータス</td>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td>
      <%= link_to admin_product_path(product.id) do %>
       <%= product.name %>
      <% end %>
    </td>
    <td></td>
    <td><%= product.price %></td>
    <td><%= product.genre.name %></td>
    <td>
      <%= product.is_sales_status %>
      </td>
  </tr>
  <% end %>
</table>