<h2>商品一覧画面</h2>

<table>
  <tr>
    <td>商品ID</td>
    <td>商品名</td>
    <td></td>
    <td>税抜価格</td>
    <td>ジャンル</td>
    <td>ステータス</td>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td><%= product.name %></td>
    <td><%= product.parice %></td>
    <td></td>
    <td><%= product.genre_id %></td>
    <td><%= product.is_sales_status %></td>
  </tr>
  <% end %>
</table>