<h4>商品新規登録</h4>
  <%= form_with model:@new_product,url: admin_products_path, local:true do |f| %>
      <h6>商品画像</h6>
      <%= f.attachment_field :image %>

      <h6>商品名</h6>
      <%= f.text_field :name %>

      <h6>商品説明</h6>
      <%= f.text_area :introduction %>

      <h6>ジャンル</h6>
      <%= f.collection_select(:genre_id, @genres, :id, :name,{prompt: "製品ジャンルを選択してください"}) %>

      <h6>税抜価格</h6>
      <%= f.number_field :price %><span>円</span>

      <h6>販売ステータス</h6>
      <%= f.radio_button :is_sales_status,"true" %><p>販売中</p>
      <%= f.radio_button :is_sales_status, "false" %><p>販売停止</p>

      <%= f.submit'新規作成' %>
  <% end %>
