<h2>製品新規登録</h2>

<%= form_with model:@new_product,url: admin_products_path, local:true do |f| %>
<h4>製品画像</h4>
<%= f.attachment_field :image %>
<h4>製品名</h4>
<%= f.text_field :name %>
<h4>製品説明</h4>
<%= f.text_area :introduction %>
<h4>ジャンル</h4>
<%= f.collection_select(:genre_id, @genres, :id, :name,{prompt: "製品ジャンルを選択してください"}) %>
<h4>税抜価格</h4>
<%= f.number_field :price %><span>円</span>

<h4>販売ステータス</h4>
<%= f.radio_button :is_sales_status,"TRUE" %>販売中
<%= f.radio_button :is_sales_status, "FALSE" %>販売停止中

<%= f.submit'新規作成' %>
<% end %>