<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-wrap">
    <h5 class="ml-5 mb-4">注文履歴一覧</h5>
      <table class="table table-sm table-bordered">
        <thead class="thead-light">
          <tr>
            <td>注文日</td>
            <td>配送先</td>
            <td>注文商品</td>
            <td>支払金額</td>
            <td>ステータス</td>
            <td>注文詳細</td>
          </tr>
        </thead>
        <% @orders.each do |order| %>
        <tr>
          <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= order.delivery_address %></td>
          <% order.order_items.each do |order_item| %>
            <td><%= order_item.product.name %></td>
          <% end %>
          <td><%= order.total_amounts.to_s(:delimited) %></td>
          <td><%= order.order_status %></td>
          <td>
            <%= link_to order_path(order.id), local: true do %>
              <i>表示する</i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
